﻿
@{
    ViewData["Title"] = "Bienvenido/Welcome/Willkommen";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bienvenido/Welcome/Willkommen </title>

    <link rel="stylesheet" type="text/css" href="~/css/initial.css">
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/scriptnav.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

</head>
<body>
    <div class="head">
        <h1 class="cv">· Escoga un lenguaje - Choose a language - Wählen sie eine Sprache ·</h1>
        <section>
            <button type="button" onclick="javascript: disp();">Test</button>
            <div id="disp" style="opacity:1">
                <p>
                    <output type="text" id="res"></output>
                </p>
            </div>
        </section>
    </div>
    <br />
    @RenderBody()


    @RenderSection("Scripts", required: false)
</body>
</html>