﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pagina principal </title>

    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/scriptnav.js"></script>
</head>
<body>
    <header>
        <div class="headerContainer">
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index_Eng">Home page</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact_Eng">Contact me</a></li>
                </ul>
            </nav>  
        </div>
    </header>
    @RenderBody()


    @RenderSection("Scripts", required: false)
</body>
</html>
