﻿
@{
    ViewData["Title"] = "LayoutContact_Ger";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] Contacto </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/stylecontact.css")">
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/scriptnav.js"></script>

</head>
<body>
    <header>
        <div class="headerContainer">
            <nav>
                <ul class="esp">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index_Ger">Home page</a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Contact_Ger">Kontactiere mich</a></li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()


    @RenderSection("Scripts", required: false)
</body>
</html>


