﻿
@{
    ViewData["Title"] = "Contact_Ger";
    Layout = "~/Views/Shared/LayoutContact_Ger.cshtml";
}

<div class="middlec">
    <h1 class="cv">· Kontactiere mich! ·</h1>
    <div class="card">
        <div class="container">
            <h1><a href="https://www.linkedin.com/in/francisco-molina-jim%C3%A9nez-3a576b156/"><b>LinkedIn</b></a></b></h1>
            <h1><a href="https://github.com/molinajimenez">Github</a></h1>
            <h1><a href="https://bitbucket.org/molinajimenez/">bitBucket</a></h1>
            <p>Kontactiere mich beim Email</p>
            <p>molinajimenez01@gmail.com</p>
        </div>
    </div>
    <h1 class="contact">· Kontakt ·</h1>
    <form class="form">
        <div class="form-group">
            <label for="inputsm">Name/Vorname</label>
            <br />
            <input class="form-control input-sm" id="inputsm" type="text">
        </div>
        <div class="form-group">
            <label for="inputdefault">E-Mail</label>
            <br />
            <input class="form-control" id="inputdefault" type="text">
        </div>
        <div class="txt-form">
            <label for="inputtxt">Botschaft</label>
            <br />
            <input class="form-control" id="inputdefault" type="text">
        </div>
    </form>
    <button class=send>Send</button>
</div>
