﻿
@{
    ViewData["Title"] = "Contactos";
    Layout ="~/Views/Shared/LayoutContact.cshtml";

}

<div class="middlec">
    <h1 class="cv">· Contactame ·</h1>
    <div class="card">
        <div class="container">
            <h1><a href="https://www.linkedin.com/in/francisco-molina-jim%C3%A9nez-3a576b156/"><b>LinkedIn</b></a></b></h1>
            <h1><a href="https://github.com/molinajimenez">Github</a></h1>
            <h1><a href="https://bitbucket.org/molinajimenez/">bitBucket</a></h1>
            <p>¿Los formularios no son de su gusto?</p> 
            <p>¡No hay problema! Contacteme por correo: molinajimenez01@gmail.com</p>
        </div>
    </div>
    <h1 class="contact">· Contacto via Email ·</h1>
    <form class="form">
        <div class="form-group">
            <label for="inputsm">Nombre/Empresa</label>
            <br />
            <input class="form-control input-sm" id="inputsm" type="text">
        </div>
        <div class="form-group">
            <label for="inputdefault">Correo electronico</label>
            <br />
            <input class="form-control" id="inputdefault" type="text">
        </div>
        <div class="txt-form">
            <label for="inputtxt">Mensaje Breve</label>
            <br />
            <input class="form-control" id="inputdefault" type="text">
        </div>
    </form>
    <button class=send>Enviar</button>
</div>
