﻿
@{
    ViewData["Title"] = "Pagina principal";
    Layout = "initialLayout_Eng";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<div class="middlec">
    <h1 class="cv">· Curriculum Vitae ·</h1>
    <div class="card">
        <img src="~/css/img/pic.jpg" alt="Francisco Molina " style="width:75%">
        <div class="container">
            <h2><b>Francisco Molina Jimenez</b></h2>
            <h3>Computer Science and Engineering student at UVG, 3rd semester</h3>
        </div>
    </div>
    <div class="academics">
        <h4>Academical Background</h4>
        <p class="text">Finished High School at Bilingue El Prado with Computer Degree</p>
        <p class="text">240 hours of experience while working as a Computer Technician at Universidad San Carlos de Guatemala</p>
        <p class="text">2 semesters finished at Universidad del Valle de Guatemala </p>
        <p class="text">A certificate as a level A2 German student issued by Goethe Institut </p>
    </div>
    <div class=workxp>
        <h4 class=text>Professional Background</h4>
        <p class="text">Seller and customer assistant at Party Center</p>
        <p class="text">Walmart.com customer support</p>
    </div>
    <!-- ****************************ABOUT ME************************************************************** -->
    <div class="personal">
        <h4 class="personaltitle">Who am I?</h4>
        <p class="text">
            Hi, my name is Francisco Molina, I was born in January 17th, 1999. I'm currently 19 years old. The purpose of this website is to introduce myself for the first time as a Engieneer student and demonstrate the habilities I'm developing at UVG.
            I am currently coursing my third semester at the university. Like many, I have tons of hobbies, I enjoy so much playing videogames (specially FPS and RPG). Not everything is about computers though, I really enjoy doing excercise, archery, swimming, MMA and Jiu Jitsu. Even though I don't speak it perfectly, my favorite language is german. One can say I'm almost Jack of all trades!
        </p>
        <h4 class="workmotto">My work philosophy</h4>
        <p class="text">
            While I worked at the companies I mentioned above, I noticed that customer satisfaction lies in the way you handle they multiple issues. Sincerity and emphaty are very important while dealing with customers. To satisfy or improve people's life is our ultimate goal, because we are getting paid for doing what we like. In summary to satisfy our customers is to satisfy ourselves both economically and as professionals. Of course this requires lots of patience and perseverance. This is why these values are crucial to be successful.
        </p>
        <h4 class="moral">My moral code</h4>
        <p class="text">I consider that responsibility empathy and honesty are the foundations of any person who is seeking professionalism in any role as employee or entrepreneur.</p>
        <h4 class=skills>My habilities as a software developer</h4>
        <p class="text">While studying and working I have achieved to learn a lot from the following topics:</p>
        <p class="text"><b>C++, Java, HTML, CSS, JavaScript, Diagnostico y reparacion de computadoras.</b></p>
    </div>
</div>
