﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="container">
        <h1>Español</h1>
        <a asp-area="" asp-controller="Home" asp-action="Index_Esp"><img src="~/images/spain.png" alt="spanish" style="width: 30%" height:30%"></a>
        <br />
        <h1>English</h1>
        <a asp-area="" asp-controller="Home" asp-action="Index_Eng"><img src="~/images/us.gif" alt="english" style="width: 30%" height:30%"></a>
        <br />
        <h1>Deutsch</h1>
        <a asp-area="" asp-controller="Home" asp-action="Index_Ger"><img src="~/images/germany.png" alt="german" style="width: 30%" height:30%"></a>
</div>
</div>
