﻿
@{
    ViewData["Title"] = "Pagina principal";
    Layout = "initialLayout";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<div class="middlec">
    <h1 class="cv">· Curriculum Vitae ·</h1>
    <div class="card">
        <img src="~/css/img/pic.jpg" alt="Francisco Molina " style="width:75%">
        <div class="container">
            <h2><b>Francisco Molina Jimenez</b></h2>
            <h3>Estudiante de Ingenieria en Ciencias de la Computación, 2do año</h3>
        </div>
    </div>
    <div class="academics">
        <h4>Background academico</h4>
        <p class="text">Bachiller en Computacion Bilingue El Prado (2016)</p>
        <p class="text">240 horas de practica profesional como tecnico en computacion en la Universidad San Carlos de Guatemala</p>
        <p class="text">Dos semestres completados estudiando para Ingenieria en CCTI en la Universidad del Valle de Guatemala </p>
        <p class="text">Certificado A2 en idioma aleman, emitido por el Instituto Goethe. </p>
    </div>
    <div class=workxp>
        <h4 class=text>Background profesional</h4>
        <p class="text">Vacacionista como vendedor en Party Center</p>
        <p class="text">Servicio al cliente en Walmart.com</p>
    </div>
    <!-- ****************************ABOUT ME************************************************************** -->
    <div class="personal">
        <h4 class="personaltitle">Quien soy yo?</h4>
        <p class="text">
            Hola, me llamo Francisco Molina, naci el 17 de enero de 1999, actualmente tengo 19. El proposito de esta pagina es con el motivo de lograr presentarme como un estudiante de Ingenieria en Ciencias de la Computacion y Tecnologias de la Informacion en la Universidad del Valle de Guatemala.
            Actualmente curso mi tercer semestre en ella. Como hobbies, disfruto mucho los videojuegos FPS y RPG ademas de esto me gusta hacer ejercicio en mi tiempo libre, desde los 14 me ha gustado el MMA, practique natacion, tiro con arco, gimnasia artistica y Jiu Jitsu. Mi lenguaje favorito es el aleman.
        </p>
        <h4 class="workmotto">Mi filosofia de trabajo:</h4>
        <p class="text">
            En mis horas de trabajo he descubierto que la satisfaccion de las personas a quienes vendemos o proveemos un servicio son las mismas personas que nos dan la oportunidad de ejercer nuestro empleo de una manera mutuamente beneficiosa. Es por ello que la satisfaccion del cliente siempre debe ser una prioridad.
            Como la obtengo? Solo se debe trabajar muy bien y atender las necesidades de nuestro cliente. Claro, esto requiere disciplina y mucha, mucha paciencia. Mi filosofia es: Si el cliente esta satisfecho, entonces yo tambien.
        </p>
        <h4 class="moral">Cuales son mis valores?</h4>
        <p class="text">Considero que un sentido de la responsabilidad, empatia y honestidad son los tres grandes pilares en cualquier profesion. Una persona puede alcanzar estos valores en su area de trabajo, sin duda sera un trabajador exitoso.</p>
        <h4 class=skills>Mis habilidades</h4>
        <p class="text">Dentro del campo laboral y academico logre obtener una considerable experiencia dentro distintos IDEs y lenguajes de programacion. Actualmente tengo conocimientos sobre:</p>
        <p class="text"><b>C++, Java, HTML, CSS, JavaScript, Diagnostico y reparacion de computadoras.</b></p>
    </div>
</div>
