﻿
@{
    ViewData["Title"] = "Index_Ger";
    Layout = "initialLayout_Ger";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<div class="middlec">
    <h1 class="cv">· Curriculum Vitae ·</h1>
    <div class="card">
        <img src="~/css/img/pic.jpg" alt="Francisco Molina " style="width:75%">
        <div class="container">
            <h2><b>Francisco Molina Jimenez</b></h2>
            <h3>SystemIngenieur Student, zweite jahre aus UVG.</h3>
        </div>
    </div>
    <div class="academics">
        <h4>Akademie</h4>
        <p class="text">Computergrad in Bilingue El Prado (2016)</p>
        <p class="text">240 stunden als Praktikant in Universidad San Carlos de Guatemala</p>
        <p class="text">Ich habe zwei Semesters in UVG als Ingenieurwissenschaft Student beendete. </p>
        <p class="text">A2 Zertifikat in Deutsche sprache. </p>
    </div>
    <div class=workxp>
        <h4 class=text>Arbeit</h4>
        <p class="text">Verkaufer in Party Center</p>
        <p class="text">Kundendienst in Walmart.com</p>
    </div>
    <!-- ****************************ABOUT ME************************************************************** -->
    <div class="personal">
        <h4 class="personaltitle">Wer bin ich?</h4>
        <p class="text">
            Hallo, ich heisse Francisco Molina, Ich habe in Januar 17 1999 geboren. Ich bin 19 jahre alt. Ich habe diese Website gemacht, weil es ein beispiel fur eine CV ist. Diese website ist ein ubung, ich habe viele Grammatik fehler geschreiben.
            Ich habe viele Hobbies zum beispiel, ich mag FPS und RPG videospiele spielen. Ich habe fur viele Jahren gymnastics, schwimmen, Bogenschiessenen praktizierte. Ich mag viel MMA und Jiu jitsu, aber ich habe kein zeit fur diese Sport zu praktizieren. Ich mag Deutsch, aber ich habe viele Jahren ohne Deutsch uben.
        </p>
        <h4 class="workmotto">Mein Arbeit-Philosophie:</h4>
        <p class="text">
            Ich denke dass die Kunde Befriedung ist sehr wichtig fur jeder. Ob wir verkaufen oder liefern eine Produkt/Dienst, wir mussen ein perfekt arbeit/dienst geben. Wir erhalten Geld aus diesem Systematik, und ebenfalls wir machen was wir leben.
            Wenn der Kunde glücklich ist, bin ich auch glücklich.
        </p>
        <h4 class="moral">Ethic?</h4>
        <p class="text">Ich denke dass die Verantwortung wichtig ist, ein Verflichtung musst respektierte sein. Immer. Wenn ein Person diese macht, es wird gelungen.</p>
        <h4 class=skills>Meine Fähigkeiten</h4>
        <p class="text">Ich habe diesen Programmiersprachen benutzt:</p>
        <p class="text"><b>C++, Java, HTML, CSS, JavaScript, Computer reparieren.</b></p>
    </div>
</div>
