.head {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
    transition: 0.3s;
    background: rgb(13, 197, 111);
}
.head > h1 {
    font-family: bloggerimport;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 25px 0 rgb(119, 111, 111);
    transition: 0.3s;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 25px;
    padding-bottom:25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(168, 59, 59, 0.651);
}

.container {
    padding-top: 2%;
    text-align: center;
    justify-content: center;
    font-family: kirvyimport;
}
.container>a{
    width: 300px;
    height: 200px;
}
@font-face {
    font-family: gidoleimport;
    src: url("fonts/gidole.otf");
}

@font-face {
    font-family: kirvyimport;
    src: url("fonts/kirvy.otf");
}

@font-face {
    font-family: bloggerimport;
    src: url("fonts/blogger.ttf");
}
@media only screen and (max-width: 959px) {
    .head{
        width: 100%;
    }

}

@media only screen and (max-width: 640px) {
    .head {
        width: 100%;
        font-size:10px;
    }
}