body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
}
.h1 {
    font-size: 32px;
}
.headerContainer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

nav ul {
    margin: 0 auto;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 3%;
    position: relative;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 32px;
    font-family: gidoleimport;
}

    nav a:hover {
        color: rgb(226, 61, 110);
        transition: 0.8s;
    }

    nav a:before {
        content: "";
        display: block;
        height: 5px;
        width: 0%;
        background-color: rgb(226, 61, 110);
        position: absolute;
        top: -15px;
        transition: 450ms;
    }

    nav a:hover::before {
        width: 100%;
    }

header::after {
    content: "";
    display: table;
    clear: both;
}

header {
    margin: 0px;
    padding: 0px;
    background: #55d6aa;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.68;
}

.header-placeholder {
    margin: 0 0 40px 0;
}

.middlec {
    font-family: kirvyimport;
    background: rgb(224, 216, 216);
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 25px 0 rgba(168, 59, 59, 0.651);
    transition: 0.3s;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

    /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(168, 59, 59, 0.651);
}
.esp ul{
    float: right;
}
.cv {
    background-color:rgb(246, 73, 73);
}

/* Add some padding inside the card container */
.container {
    margin-top: 25px;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    font-family: kirvyimport;
}

@font-face {
    font-family: gidoleimport;
    src: url("fonts/gidole.otf");
}

@font-face {
    font-family: kirvyimport;
    src: url("fonts/kirvy.otf");
}

@font-face {
    font-family: bloggerimport;
    src: url("fonts/blogger.ttf");
}

.card {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    padding: 50px;
    padding-bottom: 15px;
    height: 55%;
}
.form{
    margin: 0 auto;
}

.form-group {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
}

.txt-form {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
    height: 50px;
}

.send {
    margin-top: 55px;
    position: relative;
    background-color: rgb(46, 146, 247);
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.send:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.send:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.middlec > h1 {
    font-family: kirvyimport;
    margin-top: 15px;
    color: rgb(1, 0, 2);
}

.text {
    margin-top: 25px;
    font-family: kirvyimport;
    font-size: 15px;
    text-align: center;
}
@media only screen and (max-width: 959px) {
    .middlec {
        width: 85%;
    }
}

@media only screen and (max-width: 640px) {
    <!--
    Here is all the top stuff -->
    .middlec {
        width: 85%;
        font-size: 12px;
        height: 80%;
    }
    .cv {
        background-color: rgb(120, 244, 5);
    }
    .middlec>h1{
        font-size: 26px;
    }
    .card {
        font-size: 18px;
        width: 90%;
        }

    .container>h1 {
        font-size: 22px;
    }
    <!--
    Here is the background content -->
    nav li {
        font-size: 14px;
        padding-bottom: 2%;
        margin-left: 3%;
        position: relative;
    }
    nav a {
        font-size: 22px;
    }
}

@media only screen and (max-width: 412px) {
    <!--
    Here is all the top stuff -->
    .middlec {
        width: 95%;
        font-size: 12px;
        height: 80%;
    }

    .cv {
        background-color: rgb(255, 213, 3);
    }

    .middlec > h1 {
        font-size: 23px;
    }

    .card {
        font-size: 12px;
        width: 90%;
    }

    .container > h1 {
        font-size: 22px;
    }
    <!--
    Here is the background content -->
    nav li {
        font-size: 14px;
        padding-bottom: 2%;
        margin-left: 3%;
        position: relative;
    }

    nav a {
        font-size: 22px;
    }
}
