body{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
}

.headerContainer{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
nav ul{
    margin: 0 auto;
    list-style: none;
    
}
nav li{
    display: inline-block;
    margin-left: 3%;
    position: relative;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 32px;
    font-family: gidoleimport;
}
nav a:hover{
    color:rgb(226, 61, 110);
    transition: 0.8s;
}
nav a:before{
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color:rgb(226, 61, 110);
    position: absolute;
    top:-15px;
    transition: 450ms; 
}
nav a:hover::before{
    width: 100%;
}

header::after{
    content: "";
    display: table;
    clear: both; 
}

header{
    margin:0px;
    padding: 0px;
    background: #55d6aa;
}
.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.68;
}

.header-placeholder{
    margin: 0 0 40px 0;
}


.middlec{
    background: rgb(224, 216, 216);
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px; 
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .middlec>h1{
      color:rgb(255, 255, 255);
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 25px 0 rgba(168, 59, 59, 0.651);
    transition: 0.3s;
    margin-bottom: 15%;
    padding-bottom:15%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(168, 59, 59, 0.651);
}

/* Add some padding inside the card container */
.container {
    text-align: center;
    justify-content: center;
    font-family: kirvyimport;
}
.img{
    margin: 0 auto;
}
.academics{
    background: rgb(224, 216, 216);
    width: 85%;
    margin: 0 auto;
    padding-right: 10px; 
    padding-top: 2%;
    margin-top: 4%;
    text-align: center;
    padding-bottom: 10%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.academics:hover{
    box-shadow: 0 8px 16px 0 rgba(168, 59, 59, 0.651);

}
.academics h4{
    font-family: gidoleimport;
    font-size: 28px; 
}
.workxp {
    background: rgb(224, 216, 216);
    width: 65%;
    margin: 0 auto;
    padding-top: 2%;
    margin-top: 4%;
    text-align: center;
    padding-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.workxp:hover{
    box-shadow: 0 8px 16px 0 rgba(168, 59, 59, 0.651);

}

.workxp h4{
    font-family: gidoleimport;
    font-size: 28px;
}

@font-face{
    font-family: gidoleimport;
    src: url("fonts/gidole.otf");
}
@font-face{
    font-family: kirvyimport;
    src: url("fonts/kirvy.otf");

}
@font-face{
    font-family: bloggerimport;
    src: url("fonts/blogger.ttf");

}

.card {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    
}
.personal{
    width: 85%;
    margin: 0 auto;
    padding-top: 2%;
    margin-top: 2%;
    padding-bottom: 4%; 

}
.personaltitle{
    font-family: gidoleimport;
    font-size: 28px;
}
.workmotto{
    font-family: gidoleimport;
    font-size: 28px;
}
.moral{
    font-family: gidoleimport;
    font-size: 28px;
}
.text {
    font-family: kirvyimport;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    
    padding: 50px;
    padding-bottom: 15px;
    height: 55%;
}
.skills{
    font-family: gidoleimport;
    font-size: 28px;
}
.exp{
    font-family: kirvyimport;
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.cv {
    background-color: rgb(255, 45, 45);
    font-family: bloggerimport;
    font-size: 45px;
}

@media only screen and (max-width: 959px) {
    .middlec {
        width: 85%;
    }
}

@media only screen and (max-width: 769px) {
<!-- Here is all the top stuff -->
    .middlec {
        width: 75%;
        font-size: 10px;
    }
    .middlec > h1 {
        color: rgb(255, 255, 255);
    }
    .card{
        font-size: 18px;
    }
    .card>img{
        max-width: 75%;
    }
    .cv {
        font-size: 52px;
        background-color: rgb(9, 82, 232);
    }
    .container{
        font-size: 18px;
    }
<!-- Here is the background content -->
    .personal{
        max-width: 100%;
    }
    .text{
        font-size: 20px;
    }
    nav li {
        padding-bottom: 2%;
        margin-left: 3%;
        position: relative;
    }
    nav a{
        font-size: 35px;
    }
}

@media only screen and (max-width: 415px) {
    <!-- Here is all the top stuff -->
    .middlec {
        width: 89%;
        font-size: 10px;
    }

    .middlec > h1 {
        color: rgb(255, 255, 255);
    }

    .card {
        font-size: 14px;
    }

        .card > img {
            max-width: 65%;
        }

    .cv {
        font-size: 32px;
        background-color: rgb(110, 0, 255);
    }

    .container {
        font-size: 16px;
    }
    <!-- Here is the background content -->
    .personal {
        max-width: 100%;
    }

    .text {
        font-size: 12px;
    }

    nav li {
        padding-bottom: 2%;
        margin-left: 3%;
        position: relative;
    }

    nav a {
        font-size: 21px;
    }
}

